<h1>Employee Sentiment Search Board</h1>
<div>
    <form [formGroup]="sentimentGroup" (ngSubmit)="onSubmit()">
        <label>
            Employee Twitter Handle: 
            <input placeholder="jack" formControlName="handle">
        </label>
        <br>
        <button type="submit" >Submit</button>
    </form> 
</div>
<button (click)="onclick()">Analysis</button>
<div>
    <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [labels]="chartOptions.labels"
          [responsive]="chartOptions.responsive"
        ></apx-chart>
      </div>
</div>
<div>
    Mood: {{message}}
</div>
<button (click)="clear()">Clear</button>