<div class="topnav">
    <a class="active" routerLink="/about" >About</a>
    <a routerLink="/data" >Employee Daily Data</a>
    <a routerLink="/table" >Emp Wellness Table</a>
    <a routerLink="/sentiment" >Employee Sentiment</a>
    <a routerLink="/summary" >Employee Summary</a>
    <a routerLink="/program" >Employee Wellness Program</a>
    <a routerLink="/survey" >Employee Survey</a>
    <a id= "git" class="navbar-brand pull-sm-right m-r-0" href="https://github.com/AkashSrivastava1721/WELLTRACK" target="_blank"><i class="fa fa-github"> Repository</i></a>
</div>