.surveyMain {
  background-color: #f5dcdb;
}

.surveyHeading {
  font-size: 2rem;

  margin: 2rem auto;
  padding: 2rem;
  /* border-bottom: 2px solid #cc4b4a; */
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
