<div class="surveyMain">
  <h1 class="surveyHeading" style="text-align: center">
    Employee Survey Portal (LifeStyle & Attiration)
  </h1>
  <div style="text-align: center">
    <h3>Form</h3>
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSeFlfmv1GdBooio7QxGWPzCP2bY6fk3C-r4IGFdBQK1hPc56w/viewform?embedded=true"
      width="1000"
      height="6761"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      >Loading…</iframe
    >
  </div>
  <br />
  <br />
  <div style="text-align: center">
    <h3>Dataset</h3>
    <iframe
      src="https://docs.google.com/spreadsheets/d/1Ov9-MeSZchdGnHD8YXuVhhoKFGibDO2buEY2V48y1xA/edit?usp=sharing"
      width="1500"
      height="2000"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      >Loading...</iframe
    >
  </div>
</div>
