.label {
  color: white;
  padding: 3px;
  font-family: Arial;
}
.hr {
  background-color: #d46c64;
  border-radius: 10px;
  border-color: black;
  border-width: 2px;
  padding: 20px;
}
.emp {
  //   background-color: blue;
  padding: 20px;

  border-radius: 10px;
  background-color: #d46c64;
}
.intro {
  background-color: #d46c64;
  border-radius: 10px;
  padding: 20px;
}
.priv {
  background-color: #d46c64;
  border-radius: 10px;
  padding: 20px;
}

.button {
  background-color: #cc4b4a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1.5rem 45%;
  border-radius: 10px;
}

.button:hover {
  background-color: #333;
}

input {
  border-radius: 10px;
  padding: 0.75rem;
  font-size: 14px;
  outline: none;
  height: 10px;
  margin-bottom: 10px;
}

.detailsHeading {
  font-size: 2rem;

  margin: 2rem auto;
  padding: 2rem;
  /* border-bottom: 2px solid #cc4b4a; */
  width: 30rem;
}

.dataForm form h4 {
  font-size: 1.3rem;

  padding: 1rem;
}
