<div class="aboutMain">
  <section class="landing" id="service">
    <div class="landing_section_row">
      <div class="landing_section_content">
        <h3 class="landingHeading">Hi! Welcome to Well Track</h3>
        <p class="landingPara">
          A full stack application that can accurately calculate employee
          wellbeing and predict future trends using machine learning.
        </p>
      </div>
      <div class="image">
        <img class="landingImg" src="../../assets/wellness_aim.svg" />
      </div>
    </div>
  </section>

  <!-- Service section starts -->
  <section class="service" id="service">
    <h1 class="section_heading">Features</h1>
    <div class="section_row">
      <div class="image">
        <img src="../../assets/wellness_score.svg" />
      </div>
      <div class="section_content">
        <h3>Wellbeing Score</h3>
        <p>
          We have identified a number of metrics that can help in accurately
          understanding the wellness of an employee which ranges from
          professional details to personal details. We have curated around 30
          metrics that will give us a deep insight of the employees overall
          wellbeing and provide a wholistic wellbeing score.​
        </p>
      </div>
    </div>
    <div class="section_row">
      <div class="section_content">
        <h3>Prediction</h3>
        <p>
          We will be using various machine learning models to effectively
          analyse the employee data. We have used feed forward neural networks
          to accurately calculate the weights of each parameter/metric and an
          LSTM model to give a precise predicion of future wellbeing scores.​
        </p>
      </div>
      <div class="image">
        <img src="../../assets/wellness_prediction.svg" />
      </div>
    </div>
    <div class="section_row">
      <div class="image">
        <img src="../../assets/wellness_sentimental.svg" />
      </div>
      <div class="section_content">
        <h3>Sentimental Analysis</h3>
        <p>
          We have a sentimental analysis feature which will provide additional
          information about the mental and social wellbeing of an employee. We
          are using Twitter to analyse an employees tweets and provide a mood
          analysis.
        </p>
      </div>
    </div>
    <div class="section_row">
      <div class="section_content">
        <h3>Wellness Program</h3>
        <p>
          The metrics collected will provide two fold information that will aid
          in creating strategies for wellness programs as manager-employe
          compatability and employee-employee compatability along with their
          wellness levels will be accurately shown through a number of graphs.​
        </p>
      </div>
      <div class="image">
        <img src="../../assets/wellness_program.svg" />
      </div>
    </div>
  </section>
  <!-- Service section ends -->
</div>
