<div class="aboutMain">
  <section class="landing" id="service">
    <div class="landing_section_row">
      <div class="landing_section_content">
        <h3 class="landingHeading">Hi! Welcome to Well Track</h3>
        <p class="landingPara">
          A full stack application that can accurately calculate employee
          wellbeing and predict future trends using machine learning.
        </p>
      </div>
      <div class="image">
        <img class="landingImg" src="../../assets/wellness_aim.svg" />
      </div>
    </div>
  </section>

  <!-- Service section starts -->
  <section class="service" id="service">
    <h1 class="section_heading">Features</h1>
    <div class="section_row">
      <div class="image">
        <img src="../../assets/wellness_score.svg" />
      </div>
      <div class="section_content">
        <h3>Wellbeing Score</h3>
        <p>
          We have identified a number of metrics that can help in accurately
          understanding the wellness of an employee which ranges from
          professional details to personal details. We have curated around 30
          metrics that will give us a deep insight of the employees overall
          wellbeing and provide a wholistic wellbeing score.​
        </p>
      </div>
    </div>
    <div class="section_row">
      <div class="section_content">
        <h3>Prediction</h3>
        <p>
          We will be using various machine learning models to effectively
          analyse the employee data. We have used feed forward neural networks
          to accurately calculate the weights of each parameter/metric and an
          LSTM model to give a precise predicion of future wellbeing scores.​
        </p>
      </div>
      <div class="image">
        <img src="../../assets/wellness_prediction.svg" />
      </div>
    </div>
    <div class="section_row">
      <div class="image">
        <img src="../../assets/wellness_sentimental.svg" />
      </div>
      <div class="section_content">
        <h3>Sentimental Analysis</h3>
        <p>
          We have a sentimental analysis feature which will provide additional
          information about the mental and social wellbeing of an employee. We
          are using Twitter to analyse an employees tweets and provide a mood
          analysis.
        </p>
      </div>
    </div>
    <div class="section_row">
      <div class="section_content">
        <h3>Wellness Program</h3>
        <p>
          The metrics collected will provide two fold information that will aid
          in creating strategies for wellness programs as manager-employe
          compatability and employee-employee compatability along with their
          wellness levels will be accurately shown through a number of graphs.​
        </p>
      </div>
      <div class="image">
        <img src="../../assets/wellness_program.svg" />
      </div>
    </div>
  </section>

  <!-- Service section starts -->
  <section class="service" id="service">
    <h1 style="margin-bottom: 6rem" class="section_heading">Our Team</h1>
    <div
      style="margin-left: 3rem; margin-right: 3rem; margin-bottom: 4rem"
      class="section_row"
    >
      <div class="image">
        <img
          style="border-radius: 100%; height: 150px; width: 150px"
          class="us"
          src="../../assets/akash.jpg"
        />
      </div>
      <div class="section_content">
        <h3>Akash Srivastava</h3>
        <p>
          A wholesome human being having the fragment of spices such as
          leadership, project operation and management. Currently embracing a
          career in full stack software development. Besides his professional
          skills, sketching as his extracurricular activities. Akash is a bucket
          of innovation and loves playing with numbers.​
        </p>
        <div>
          <a
            target="_blank"
            class="socialLogo"
            href="https://github.com/AkashSrivastava1721"
          >
            <img class="socialImg" src="../../assets/github-logo.svg" />
          </a>
          <a
            target="_blank"
            class="socialLogo"
            href="https://www.linkedin.com/in/akash-s-233ab3160/"
          >
            <img class="socialImg" src="../../assets/linkedin.svg" />
          </a>
          <a
            target="_blank"
            class="socialLogo"
            href="mailto: akash.srivastava1721@outlook.com"
          >
            <img class="socialImg" src="../../assets/gmail.svg" />
          </a>
        </div>
      </div>
    </div>
    <div
      style="margin-left: 3rem; margin-right: 3rem; margin-bottom: 2rem"
      class="section_row"
    >
      <div class="image">
        <img
          style="border-radius: 100%; height: 150px; width: 150px"
          class="us"
          src="../../assets/akhil.jpg"
        />
      </div>
      <div class="section_content">
        <h3>Akhil Rudrawar</h3>
        <p>
          An enthusiastic learner and passionate developer who loves to work on
          new and exciting projects. With a background in machine learning and a
          love of full stack development he strives to incorporate this
          technology in building new products that would make a difference.​
        </p>
        <div class="socials">
          <a
            target="_blank"
            class="socialLogo"
            href="https://github.com/akhilr2505"
          >
            <img class="socialImg" src="../../assets/github-logo.svg" />
          </a>
          <a
            target="_blank"
            class="socialLogo"
            href="https://www.linkedin.com/in/akhil-rudrawar-b17423192/"
          >
            <img class="socialImg" src="../../assets/linkedin.svg" />
          </a>
          <a
            target="_blank"
            class="socialLogo"
            href="mailto: akhil.rudrawar@gmail.com"
          >
            <img class="socialImg" src="../../assets/gmail.svg" />
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Service section ends -->
</div>
