<div class="summaryMain">
  <h1 class="summaryHeading">Employee Summary Search Board</h1>
  <div class="summaryContent">
    <div>
      <form
        class="summaryForm"
        [formGroup]="summaryGroup"
        (ngSubmit)="onSubmit()"
      >
        <label class="summaryLabel">
          Employee ID:
          <input
            class="summaryInput"
            placeholder="EMP000"
            formControlName="empid"
          />
        </label>
        <br />
        <button class="submit button" type="submit">Submit</button>
      </form>
    </div>
    <a class="summary button">Summary</a>
    <div>Summary : {{ message }}</div>
    <a class="predict button">Predicted Score</a>
    <div> Emp Predicted Score : {{predict}}</div>
    <button class="analysis button" (click)="onclick()">Chart Analysis</button>
    <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [dataLabels]="chartOptions.dataLabels"
          [grid]="chartOptions.grid"
          [stroke]="chartOptions.stroke"
          [title]="chartOptions.title"
        ></apx-chart>
    </div>
    <button class="clear button" (click)="clear()">Clear</button>
</div>
</div>
