<br><br>
<p style="text-align: center;"><b>HR has to enter ID of Employee to see his/her Wellness Score Summary.</b></p>
<div class="summaryMain">
  <h1 class="summaryHeading">Employee Summary Search Board</h1>
  <div class="summaryContent">
    <div>
      <form
        class="summaryForm"
        [formGroup]="summaryGroup"
        (ngSubmit)="onSubmit()"
      >
        <label class="summaryLabel">
          Employee ID:
          <input
            class="summaryInput"
            placeholder="EMP000"
            formControlName="empid"
          />
        </label>
        <br />
        <button class="submit button" type="submit">Submit</button>
      </form>
    </div>
    <div class="block">
      <div> <b>Summary</b> : {{ message }}</div>
      <div> <b>Emp Predicted Score</b>  : {{predict}}</div>
    </div>
    <button class="analysis button" (click)="onclick()">Chart Analysis</button>
    <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [dataLabels]="chartOptions.dataLabels"
          [grid]="chartOptions.grid"
          [stroke]="chartOptions.stroke"
          [title]="chartOptions.title"
        ></apx-chart>
    </div>
    <button class="clear button" (click)="clear()">Clear</button>
</div>
</div>
