.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:aqua;
    color:black;
    text-align: center;
 }
 .header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    background-color:aqua;
    color:black;
    text-align: center;
 }